<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Moderation Panel {% endblock %}</title>

    <!-- Bootstrap CDN; I might change this out at some point -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Leaflet CDN; Switch out for install later-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<style>
    .notifications-section .alert {
    display: none; /* Hidden by default */
    width: 100%;
    margin-bottom: 15px;
    }

    .alert .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
</style>
<body>

  {% for marker in markers %}
    <!-- Delete Marker Modal -->
    <div class="modal fade" id="{{ marker.id }}-deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ marker.id }}-deleteModalLabel">Confirm Deletion</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete this marker? 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
            <form id="delete-marker-{{ marker.id }}" data-bs-dismiss="modal" onsubmit="deleteMarker(`{{ marker.id }}`); return false;">
                {% csrf_token %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
  {% endfor %}

    <!-- User Nav Heading -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Currently viewing as {{request.user}}</span>
        <form class="container-fluid justify-content-start">
        </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="notifications-section">
            <div class="alert alert-success" id="alert-succes">
                <strong class="default"><i class="fa fa-road"></i> Well done,</strong> You have finished job!
                <button type="button" class="btn close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
            <div class="alert alert-danger" id="alert-danger">
                <strong class="default"><i class="fa fa-hdd-o"></i> Server </strong> reported problems.
                <button type="button" class="btn close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
            <div class="alert alert-info nomargin" id="alert-info">
                <strong class="default"><i class="fa fa-money"></i> Received </strong> $1826 from client.
                <button type="button" class="btn close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        </div>
    </div>
    

    {% if markers %}
    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
        {% for marker in markers %}
        <div class="col">
            <div class="card mb-3" id="card-{{ marker.id }}"style="max-width: 540px;" data-marker-id="{{ marker.id }}">
                <nav>
                    <div class="nav nav-tabs mt-3 mx-2" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-marker-tab" data-bs-toggle="tab" data-bs-target="#nav-marker-{{marker.id}}" type="button" role="tab" aria-controls="nav-marker" aria-selected="true">Marker</button>
                      <button class="nav-link" id="nav-verif-tab" data-bs-toggle="tab" data-bs-target="#nav-verif-{{marker.id}}" type="button" role="tab" aria-controls="nav-verif" aria-selected="false">Verification</button>
                    </div>
                  </nav>
                  <div class="tab-content mx-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-marker-{{ marker.id }}" role="tabpanel" aria-labelledby="nav-marker-tab" tabindex="0">
                        <div class="card-body">
                            <h5 class="card-title">{{ marker.fromyear }}</h5>
                            <p class="card-text"><small class="text-secondary">{{ marker.latitude }}, {{ marker.longitude }}</small></p>
                            <p class="card-text">{{ marker.storytext }}</p>
                            <p class="card-text" id="marker-status"></p>
                            <p class="card-text"><small class="text-body-secondary">{{ marker.date_posted }}</small></p>
                                
                            <!-- Approve/Unapprove Form -->
                            <div class="form-check">
                                <input 
                                    class="form-check-input" 
                                    type="checkbox" 
                                    id="flexCheckDefault-{{ marker.id }}" 
                                    {% if marker.approved %} checked {% endif %}
                                    onchange="toggleApproval(`{{ marker.id }}`, this.checked)" 
                                >
                                <label class="form-check-label" for="flexCheckDefault-{{ marker.id }}">
                                    Approved
                                </label>
                            </div>
                            <!-- Delete Marker Modal Trigger -->
                            <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#{{ marker.id }}-deleteModal">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-verif-{{marker.id}}" role="tabpanel" aria-labelledby="nav-verif-tab" tabindex="0">
                        <div class="card-body">
                            {% if marker.verification %}
                            <h5>Verification Details</h5>
                            <p><strong>File Upload:</strong> <a href="{{ verification.upload.url }}" target="_blank">{{ marker.upload.name }}</a></p>
                            <p><strong>Question 1:</strong> {{ marker.verification.a1 }}</p>
                            <p><strong>Question 2:</strong> {{ marker.verification.a2 }}</p>
                            <p><strong>Question 3:</strong> {{ marker.verification.a3 }}</p>
                            {% else %}
                                <p>No verification available for this marker.</p>
                            {% endif %}
                        </div>
                    </div>
                  </div>              
            </div>
        </div> 

        <script>
            console.log(`{{ marker }}:{{ marker.verification }}`);
            // Utility function to get CSRF token from cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                    const cookies = document.cookie.split(";");
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === name + "=") {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // toggles approval
            async function toggleApproval(markerId, isApproved) {
                const csrfToken = getCookie("csrftoken");
                const url = `{% url 'marker-update-view' marker.id %}`; // API endpoint for this specific marker
                let statusbanner = document.getElementById('status-banner');
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        throw new Error('Network response was not ok!');
                    }

                    const json = await response.json();
                    json.approved = isApproved
                    json.geojson_data.properties.approved = isApproved

                    await fetch(url, {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": csrfToken,
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(json),
                    });
                    console.log(json);
                    console.log(`Marker ${markerId}: [{{ marker }}] marked as ${isApproved}.`)
                    document.getElementById("alert-success").style.display = "block";
                    setTimeout(() => {
                        document.getElementById("alert-success").style.display = "";
                    }, 3000); // 5000 milliseconds = 5 seconds
                } catch (error) {
                    console.error("Error retrieving data:", error);
                }
                
            
            }

            // Function to handle deleting a marker
            async function deleteMarker(markerId) {
                const csrfToken = getCookie("csrftoken");

                try {
                    const response = await fetch(`{% url 'marker-update-view' marker.id %}`, {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": csrfToken,
                        },
                    });

                    if (response.ok) {
                        console.log(`Marker ${markerId} deleted`);
                        const markerCard = document.getElementById(`card-${markerId}`);
                        if (markerCard) markerCard.remove();
                    } else {
                        console.error(`Failed to delete marker ${markerId}`);
                    }
                } catch (error) {
                    console.error("An error occurred while deleting the marker:", error);
                }
            }
        </script>
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all checkboxes with class "form-check-input"
            const checkboxes = document.querySelectorAll('.form-check-input');

            checkboxes.forEach(function (checkbox) {
                // Add event listener to each checkbox
                checkbox.addEventListener('change', function (event) {
                    const markerId = event.target.id.replace('flexCheckDefault-', ''); // Extract marker ID from checkbox ID
                    const isApproved = event.target.checked; // Get whether it's checked or not

                    // Call toggleApproval with the markerId and approval state
                    toggleApproval(markerId, isApproved);
                });
            });
        });
    </script>
    {% else %}
        <p class="text-center m-4">No markers at the moment.</p>
    {% endif %}
    

   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

