{% load rest_framework %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap CDN; I might change this out at some point -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Leaflet CDN; Switch out for install later-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<style>
    #map{
        position:fixed;
        width:100%;
        height:100%;
        z-index:0;
    }

    #toplayer{
        z-index: 400;
    }

    .add-btn{
        position: absolute;
        z-index: 400;
        top: 20px;
        right: 20px;
        padding: 10px;
    }
</style>

<body>
  <!--
    <div id="toplayer">
        <button class="add-btn btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">+</button>
    </div-->
    <div id="map">
        <div id="newMarker"></div>
    </div>

    <!-- Bootstrap sidebar -->
    <!-- div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="dragmarker"></div>
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
    </div -->

    <button type="button" class="invisible btn btn-primary" id="disclaimerButton" data-bs-toggle="modal" data-bs-target="#disclaimerModal">    </button>    

    <!-- First Time Disclaimer Popup -->
    <div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">DISCLAIMER</h1>
          </div>
          <div class="modal-body">
            <!-- Tabs for Information in the Disclaimer Modal-->
            <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="true">Info</button>
                <button class="nav-link" id="v-pills-guide-tab" data-bs-toggle="pill" data-bs-target="#v-pills-guide" type="button" role="tab" aria-controls="v-pills-guide" aria-selected="false">Guide</button>
                <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contact" type="button" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contact</button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab" tabindex="0">
                  <h3>Welcome to the 4Winds Map!</h3> 
                  
                  <p> This map was made as a part of my thesis project. I wanted to
                   make a collaborative mapping application that could allow alumni to post where they are now, 
                   when they graduated (if they so desired), and how New College shaped where they are now or 
                   what kind of importance New College holds to them now. </p>
                  <p> As a part of this project, you will be able to post a marker  without creating an account,
                   but I do require some sort of verification information to prove that you were a New College 
                   alumni. Whatever verification info you submit will not be shared. If you would like your 
                   marker removed or verification information deleted after approval, please contact me at the
                    information on the Contact tab. </p> 
                  
                  <p>Every entry on this page is moderated and will take a 
                    while to be posted. Please do not spam entries. <br> </p>
                  
                  <p>
                    Entries containing the following will not be approved: <br>
                    - Advertising <br>
                    - Personal information (identifying information such as addresses, etc) <br>
                    - Hate speech <br>
                    - Overly graphic subject matter <br>
                    - Solely political messaging <br>
                  </p>

                  <p>Your entries will not be used for any commercial means, but please be conscious that this 
                  is a public website, and others will be able to see what you submit. <br> Navigate to the Guide 
                  tab for a full list of features and information on how to use this site. <br> By clicking 'I understand', 
                  you agree you've read and understand these rules. </p>
                </div>
                <div class="tab-pane fade" id="v-pills-guide" role="tabpanel" aria-labelledby="v-pills-guide-tab" tabindex="0">
                  <h5>How to View Markers</h5>
                  <p>To view a marker, just click on the blue marker symbol, which should display the text above the marker accordingly.</p>
                  <h5>How to Leave a Marker</h5>
                  <p>In order to leave a marker, click the location you'd like to leave your marker. This dialogue will display: <br>
                    <a></a> <!-- leave picture of prompt window -->
                    Clicking "submit marker" will open a window like this: <br>
                    <a></a> <!-- leave picture of form -->
                    If you'd like to leave the year field with the year that you left/graduated from New College, you can. You can also leave it blank.
                    Fill the story field with a story about how New College shaped where you are now or what kind of importance New College holds to you now.
                    For information on what marker submissions won't be approved, check the <a href="#" data-bs-toggle="pill" data-bs-target="#v-pills-info">Info</a> tab.
                    <h6>Verification</h6>
                    In order to make sure alumni are submitting markers, there's a loose expectation that you can prove that you attended New College. 
                    In the marker submission window, there's two options: a file upload or a questionaire. 
                    In the file upload, you can upload a proof of your time at New College; a photo of yourself at a recognizable part of New College, screenshot of your membership in the Facebook Daimon, or 
                    a photo of your diploma or other documents corroborating your time there. You can also upload a PDF file, either transcripts or again, other corroborating documents. 
                    If you have no files, you have the option to fill out a questionaire about New College culture that will give moderators a glimpse of your familiarity with New College.<br>
                    I understand these can be personal items, and therefore, will not be available to the public! If you would like the opportunity for your verification photo or otherwise to be submitted to the archives,
                    though, feel free to leave a note in one of the fields or contact me at the information in the <a>Contacts</a> tab.
                  </p>
                </div>
                <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab" tabindex="0">
                  This site is currently run by thesis student Andy Trinh. You can contact me at <a href= "mailto:a.trinh25@ncf.edu">a.trinh25@ncf.edu</a>.
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="disclaimerClose" class="btn btn-secondary" data-bs-dismiss="modal">I understand</button>
          </div>
        </div>
      </div>
    </div>
    
  
  
    <!-- Marker Modals -->
  <div class="modal fade" id="markerModal" tabindex="-1" aria-labelledby="markerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="markerModalTitle">Add Marker</h1>
          <button type="button" class="btn-close" id="markerModalClose" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="markerModalBody">
            <div class="mb-3">
              <form id="marker-form" method="POST" enctype="multipart/form-data" action="{% url 'map' %}">
                {% csrf_token %}
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">
                <small class="text-muted"> <p>Current Coordinates Selected:</p> <p id="coordformdisplay"></p> </small>
                <label for="fromyear" class="form-label">Year</label>
                <input type="number" class="form-control" id="fromyear" name="fromyear" placeholder="Enter the year you left...">
              </div>
              <div class="mb-3">
                <label for="storytext" class="form-label">Story</label>
                <textarea class="form-control" id="storytext" name="storytext" rows="3" placeholder="What was your experience at New College like? How did it change you?"></textarea>
              </div>
              <!--VERIFICATION SECTION-->
              <h5>
                Verification Options 
                <a label="What qualifies as an alumni?" onclick="defineAlum()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </a>
              </h5>
              <p id="alum-def"></p>
              <div class="verif-tabs">
                <nav>
                  <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">File</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Questionaire</button>
                  </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                  <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>Here, you can upload either an old transcript, your diploma, a photo from your time at New College, or otherwise. This photo is not shared anywhere else! (.img, .png, .pdf only) </p>
                    <div class="input-group mb-3">
                      <input type="file" name="upload" onchange="checkFile(this)" accept="image/png, image/jpeg, image/jpg, application/pdf" class="form-control" id="inputGroupFile02">
                      <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>                    
                    <div class="mb-3">
                      <label for="a1NoteFormControlInput1" name="a1" class="form-label">Is there anything about your file we should know?</label>
                      <input type="email" class="form-control" id="a1NoteFormControlInput1" placeholder="Comment here...">
                    </div>
                    
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>If you don't have anything from your time at New College, I came up with some questions that can hopefully help you prove you were a New College alumni. Answer them the best you can. </p>
                    <div class="mb-3">
                      <label for="a1FormControlTextarea1" class="form-label">What does the acronym "PCP" mean to you? What does it stand for at New College?</label>
                      <textarea name="a1" class="form-control" id="a1FormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="a2FormControlTextarea1" class="form-label">What was one of the notable New College urban legends you remember from your time there?</label>
                      <textarea name="a2" class="form-control" id="a2FormControlTextarea2" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="a3FormControlTextarea1" class="form-label">What was your favorite course you took at New College? Can you describe it? Which professor was it with?</label>
                      <textarea name="a3" class="form-control" id="a3FormControlTextarea3" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="markerModalSubmit" value="Save">Submit marker</button>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script>

 document.addEventListener("DOMContentLoaded", function () {
      const dbutton = document.getElementById("disclaimerButton"); 

      if (!localStorage.getItem('modalShown')) {
        dbutton.click(); 
        //localStorage.setItem('modalShown', 'true'); // set localStorage so it won't show again
      }
    });

  async function getData() {
      const url = `{% url 'markerslist' %}`; // API endpoint
      try {
          const response = await fetch(url);
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }

          const json = await response.json();
          //console.log(json); // for debugging

          // iterate through to access the geojson_data field
          json.forEach(marker => {
              const geojsonData = marker.geojson_data;

              if (geojsonData && geojsonData.properties.approved) { //check if the marker has data &  is approved before adding
                  L.geoJSON(geojsonData, { //process using leaflet
                      pointToLayer: function (feature, latlng) {
                          return L.marker(latlng);
                      },
                      onEachFeature: function (feature, layer) {
                          if (feature.properties) {
                              layer.bindPopup(
                                  `<strong>${feature.properties.fromyear}</strong><br>
                                  ${feature.properties.storytext}<br>`
                              );
                          }
                      }
                  }).addTo(map);
              }
          });

      } catch (error) {
          console.error('Error fetching GeoJSON:', error.message);
      }
  }
    //map initialization
    var map = L.map('map', {
    center: [27.994402, -81.760254],
    zoom: 7
    });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    getData(); //fetch data 

    //default test markers
    //var defaultmark = L.marker([27.9, -81.7]).addTo(map);
    //defaultmark.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    var marker;
    var popup = L.popup();

    // click listener
    map.on('click', function(e) {
      var coords = e.latlng
      var lat = e.latlng.lat;
      var lng = e.latlng.lng;
      
      // if a marker already exists, remove it first
      if (marker) {
        map.removeLayer(marker);
      }

      popup
            .setLatLng(coords)
            .setContent('<div class="container text-center"><p>Submit a marker?</p><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#markerModal"> Open form </button> </div>')
            .openOn(map);

      // set the coordinates in the hidden form fields
      document.getElementById('latitude').value = lat;
      document.getElementById('longitude').value = lng;
      document.getElementById('coordformdisplay').innerText = `Latitude: ${lat.toFixed(2)}, Longitude: ${lng.toFixed(2)}`;
    });


    function defineAlum()
    {
      infotext = document.getElementById('alum-def')
      if (infotext.textContent == ''){
        infotext.textContent = 'The New College Alumni association and Daimon define a alumni as people who have finished at least one term at New College of Florida. Please help my attempt to verify the markers submitted by you all!';
      } else {
        infotext.textContent = '';
      }
    }

    function checkFile(input) { //GPT generated function; from Software Engineering final proj
        const file = input.files[0];
        const fileType = file.type.toLowerCase();
        const allowedExtensions = ["image/jpeg", "image.jpg", "image/png", "application/pdf"];

        // Check file type
        if (!allowedExtensions.includes(fileType)) {
            alert("Please select a valid image file (JPG, JPEG, PNG), or valid document file (PDF).");
            input.value = ''; // Clear the file input
            return;
        }

        // Check file name length
        const fileName = file.name;
        if (fileName.length > 50) {
            alert("File name cannot exceed 50 characters.");
            input.value = ''; // Clear the file input
            return;
        }

        // Check file size
        const maxSizeBytes = 1 * 1024 * 1024; // Convert MB to bytes
        if (file.size > maxSizeBytes) {
            alert("File size cannot exceed 1MB.");
            input.value = ''; // Clear the file input
            return;
        }
    }
    
    const form = document.getElementById('marker-form');
    form.addEventListener('submit', async function(e) {
        e.preventDefault();  // prevent the page reload

        const formData = new FormData(form);
        if (!formData.has('storytext') || !formData.get('storytext').trim()){
          alert('Please enter a story into the storytext field in order to submit a marker.');
          return; // stop form submission if validation fails
        }
        var currentyear = new Date().getFullYear();
        const fromYear = Number(formData.get('fromyear'));
        if (fromYear < 1960 || fromYear > currentyear){
          alert('Please enter a valid year!');
          return;
        }
        
        
        // Make the AJAX request using fetch API
        try {
            const response = await fetch(`{% url 'map' %}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                    'Accept': 'application/json',
                },
                body: formData,
            });

            if (response.ok) {
                const result = await response.json();
                form.reset();
                document.getElementById('markerModalClose').click();
            } else {
                const errorResult = await response.json();
                console.error(errorResult);
            }
        } catch (error) {
            console.error(error);
            //document.getElementById('error-message').style.display = 'block';
        }
    });

</script>
</html>