<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CDN; I might change this out at some point -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Leaflet CDN; Switch out for install later-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<style>
    #map{
        position:fixed;
        width:100%;
        height:100%;
        z-index:0;
    }

    #toplayer{
        z-index: 400;
    }

    .add-btn{
        position: absolute;
        z-index: 400;
        top: 20px;
        right: 20px;
        padding: 10px;
    }
</style>

<body>
    <div id="toplayer">
        <button class="add-btn btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">+</button>
    </div>
    <div id="map">
        <div id="newMarker"></div>
    </div>

   

    <!-- Bootstrap sidebar -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="dragmarker"></div>
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
    </div>

    <!-- Button trigger modal 
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
    </button>
    -->
  
  <!-- Modal -->
  <div class="modal fade" id="markerModal" tabindex="-1" aria-labelledby="markerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Marker</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Year</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="1960 - Now">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Story</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <!-- -->

    <!-- go back and edit afterwards -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script>

    async function getData() { //example from fetch api() documentation
    const url = "http://127.0.0.1:8000/map-api/markers/";
    try {
        const response = await fetch(url);
        if (!response.ok) {
        
        }

        const json = await response.json();
        console.log(json);
    } catch (error) {
        console.error(error.message);
    }
    }

    var map = L.map('map', {
    center: [27.994402, -81.760254],
    zoom: 7
    });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    //Add listener for the click
    /*
    map.on('click', (event)=> {
        L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);
    })
    */
    
    map.on('dblclick', (event)=> {
        L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);
    })

    fetch('http://127.0.0.1:8000/map-api/markerslist') // api for the get request
    .then(response => response.json())
    .then(data => console.log(data));


    var popup = L.popup();

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent('<p>Submit a marker?</p><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#markerModal"> test </button>')
            .openOn(map);
    }

    map.on('dblclick', onMapClick);

    var marker = L.marker([27.9, -81.7]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

   
    var addmarker = L.marker();
    function addMarkerDrag(e){
        
    }

</script>
</html>